/* Navigation bar */
#nav{
    min-height: 18vh;
    flex-direction: column;
    
    }
    .mix{
        margin: 0px 0px !important;
    }
    .logo{
        margin: 0px 10px !important;
    }
    /* HOme section */
    @media  screen and (max-width:1000px) {
        #home {
            height: 350px !important;
        }
        #home::before {
            height: 500px !important;
        }
        
        #home h1{
            font-size: 1.5rem;
        }
        #home .homep{
            font-size: 0.9rem;
        }
        
    }
    /* Client Section */
    #clients{
        height: 200px;
        padding:0px 5px !important;
        flex-wrap: wrap;
    }
    #clients img{
height: 70px !important
;
    }
    
    
    
       /* Our Services */
       #services{
           justify-content: center;
           align-items: center;
           flex-direction: column;
       }
       #services .box{
        width: 301px !important
        ;
        height: 272px !important
        
       }
       #services .box img{
           margin: 10px auto !important
           ;
           height: 90px !important
           ;
       }