html {
  font-size: 62.5%;
}
:root {
  --theme: rgb(192, 134, 180);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: var(--theme);
}
.btn-hover {
  color: var(--theme);
  background-color: white;
}
